<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>

    <link href="css/bootstrap.min.css" rel="stylesheet">    <!-- Bootstrap core CSS -->
    <link href="css/hamburgers.min.css" rel="stylesheet">   <!-- Side menu toggler button (hamburger icon) -->
    <link href="css/simple-sidebar.css" rel="stylesheet">   <!-- Sidebar css -->
    <link href="css/site.css" rel="stylesheet">             <!-- Site custom css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="js/jquery.min.js"></script>

</head>
<body>

</body>
</html>