<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>

<div th:fragment="home-side-menu" id="sidebar-wrapper" sec:authorize="isAuthenticated()">
    <ul class="sidebar-nav">
        <div class="side-menu-header">
            <h4>Mano grupės</h4>
        </div>

        <!-- A list of groups that a user is a member of -->
        <div id="groups-list">
            <script>
                $.getJSON(
                    "/get/groups", function (data) {
                        var items = [];
                        $.each(data, function (index, group) {
                            var id = group.id;
                            var title = group.title;

                            items.push("<li><a href='/group?id=" + id + "'>" + title + "</a></li>");
                        });

                        if (items.length > 0) {
                            $("#groups-list").append(items.join(""));
                        }
                    }
                );
            </script>
        </div>

        <li>
            <form action="#" method="get">
                <button type="button" class="btn sidebar-menu-btn" onclick="window.location.href='/create/group?fromhome=true'">Kurti naują</button>
            </form>
        </li>
        <li>
            <!-- A custom dropdown menu containing invitations to groups (not implemented yet) -->
            <button class="btn sidebar-menu-btn" type="button" data-toggle="modal" data-target="#invitations-list" id="invitations-modal-btn">Pakvietimai</button>

        </li>
        <br>

        <div>
            <div class="side-menu-header">
                <h4>Mano Straipsniai</h4>
            </div>
            <li>
                <button type="button"  class="btn sidebar-menu-btn" onclick="window.location.href='/user-articles'">Peržiūrėti straipsnius</button>
            </li>
            <li sec:authorize="hasAnyRole('ROLE_WRITER','ROLE_ADMIN')">
                <button type="button" class="btn sidebar-menu-btn" onclick="window.location.href='/create/article?fromhome=true'">Rašyti naują straipsnį</button>
                <button type="button" class="btn sidebar-menu-btn" onclick="window.location.href='/notifications'">Pranešimai</button>
            </li>
            <br>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="side-menu-header">
                <h4>Vartotojai</h4>
            </div>
            <li>
                <form action="#" method="get">
                    <button type="button" class="btn sidebar-menu-btn" onclick="window.location.href='/manage?changes=0'">Valdyti vartotojus</button>
                    <button type="button" class="btn sidebar-menu-btn" onclick="window.location.href='/statistics'">Varotojų statistika</button>
                </form>
            </li>
        </div>
    </ul>
</div>

</body>
</html>