<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!-- An example of how the articles layout could look like -->
<div class="container-fluid" th:fragment="main-articles-layout-example">
    <div class="row">

        <div class="col-sm-6 col-md-4 imgBox">
            <div class="thumbnail">
                <a href="#" class="article-thumbnail-link">
                    <img src="images/430x260.png" alt="alt text" class="img-thumbnail rounded"  width="430" height="260">
                    <div class="caption">
                        <h5>Straipsnio pavadinimas</h5>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 imgBox">
            <div class="thumbnail">
                <a href="#" class="article-thumbnail-link">
                    <img src="images/430x260.png" alt="alt text" class="img-thumbnail rounded"  width="430" height="260">
                    <div class="caption">
                        <h5>Straipsnio pavadinimas</h5>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 imgBox">
            <div class="thumbnail">
                <a href="#" class="article-thumbnail-link">
                    <img src="images/430x260.png" alt="alt text" class="img-thumbnail rounded"  width="430" height="260">
                    <div class="caption">
                        <h5>Straipsnio pavadinimas</h5>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <br><br>
    <div class="row">

        <div class="col-sm-6 col-md-3 imgBox">
            <div class="thumbnail">
                <a href="#" class="article-thumbnail-link">
                    <img src="images/430x260.png" alt="alt text" class="img-thumbnail rounded"  width="430" height="260">
                    <div class="caption">
                        <h5>Straipsnio pavadinimas</h5>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 imgBox">
            <div class="thumbnail">
                <a href="#" class="article-thumbnail-link">
                    <img src="images/430x260.png" alt="alt text" class="img-thumbnail rounded"  width="430" height="260">
                    <div class="caption">
                        <h5>Straipsnio pavadinimas</h5>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 imgBox">
            <div class="thumbnail">
                <a href="#" class="article-thumbnail-link">
                    <img src="images/430x260.png" alt="alt text" class="img-thumbnail rounded"  width="430" height="260">
                    <div class="caption">
                        <h5>Straipsnio pavadinimas</h5>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 imgBox">
            <div class="thumbnail">
                <a href="#" class="article-thumbnail-link">
                    <img src="images/430x260.png" alt="alt text" class="img-thumbnail rounded"  width="430" height="260">
                    <div class="caption">
                        <h5>Straipsnio pavadinimas</h5>
                    </div>
                </a>
            </div>
        </div>


    </div>
    <br><br>
    <div class="row">

        <div class="col-sm-6 col-md-3 imgBox">
            <div class="thumbnail">
                <a href="#" class="article-thumbnail-link">
                    <img src="images/430x260.png" alt="alt text" class="img-thumbnail rounded"  width="430" height="260">
                    <div class="caption">
                        <h5>Straipsnio pavadinimas</h5>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 imgBox">
            <div class="thumbnail">
                <a href="#" class="article-thumbnail-link">
                    <img src="images/430x260.png" alt="alt text" class="img-thumbnail rounded"  width="430" height="260">
                    <div class="caption">
                        <h5>Straipsnio pavadinimas</h5>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 imgBox">
            <div class="thumbnail">
                <a href="#" class="article-thumbnail-link">
                    <img src="images/430x260.png" alt="alt text" class="img-thumbnail rounded"  width="430" height="260">
                    <div class="caption">
                        <h5>Straipsnio pavadinimas</h5>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 imgBox">
            <div class="thumbnail">
                <a href="#" class="article-thumbnail-link">
                    <img src="images/430x260.png" alt="alt text" class="img-thumbnail rounded"  width="430" height="260">
                    <div class="caption">
                        <h5>Straipsnio pavadinimas</h5>
                    </div>
                </a>
            </div>
        </div>


    </div>
</div>

</body>
</html>