<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Inserting head tag -->
<head th:replace="~{fragments/header :: header(title=${group.title})}">
</head>
<body>
<!-- Inserting top navigation bar -->
<th:block th:insert="~{fragments/top-navbar :: top-navbar}"></th:block>
<div id="wrapper">
    <!-- Inserting side menu -->
    <th:block th:insert="~{fragments/group-side-menu :: group-side-menu}"></th:block>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div th:each="rowNo : ${#numbers.sequence( 0, 15, 4)}" th:if="${rowNo < page.getContent().size()}">
                <div class="row">
                    <div th:each="itemNo : ${#numbers.sequence( rowNo, rowNo + 3, 1)}" class="col-sm-6 col-md-3 imgBox"
                         th:if="${itemNo < page.getContent().size()}">
                        <div class="thumbnail">
                            <a th:href="@{/article(articleId=${page.getContent().get(itemNo).getId()}, groupId=${group.getId()})}" class="article-thumbnail-link">
                                <img th:src="@{/image(articleId=${page.getContent().get(itemNo).getId()})}"
                                     alt="alt text" class="img-thumbnail rounded" width="430" height="260">
                                <div class="caption">
                                    <h5 th:text="${page.getContent().get(itemNo).getTitle()}">Straipsnio pavadinimas</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>

            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item" th:if="${page.hasPrevious()}">
                    <a class="page-link" th:href="@{/(p=${page.getNumber() - 1})}"><< Ankstesnis</a>
                </li>
                <li class="page-item" th:if="${page.hasNext()}">
                    <a class="page-link" th:href="@{/(p=${page.getNumber() + 1})}">Sekantis >></a>
                </li>
            </ul>

        </div>
    </div>

    <!-- Inserting javascript files -->
    <div th:replace="~{fragments/scripts :: scripts}"></div>
</div>

</body>
</html>