<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Inserting head tag -->
<head th:replace="~{fragments/header :: header(title=${group.title})}">
</head>
<body>
<!-- Inserting top navigation bar -->
<th:block th:insert="~{fragments/top-navbar :: top-navbar}"></th:block>
<div id="wrapper">
    <!-- Inserting side menu -->
    <th:block th:insert="~{fragments/group-side-menu :: group-side-menu}"></th:block>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
        </div>
    </div>

    <!-- Inserting javascript files -->
    <div th:replace="~{fragments/scripts :: scripts}"></div>
</div>

</body>
</html>