<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Inserting head tag -->
<head th:replace="~{fragments/header :: header}">
</head>
<body>
    <!-- Inserting top navigation bar -->
    <th:block th:insert="~{fragments/top-navbar :: top-navbar}"></th:block>
    <div id="wrapper">
        <!-- Inserting side menu -->
        <th:block th:insert="~{fragments/home-side-menu :: home-side-menu}"></th:block>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-6 col-md-4 imgBox">
                        <div class="thumbnail">
                            <a href="#" class="article-thumbnail-link">
                                <img src="/image?articleId=17" alt="alt text" class="img-thumbnail rounded"  width="430" height="260">
                                <div class="caption">
                                    <h5>Straipsnio pavadinimas</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Inserting invitations modal -->
                <th:block th:insert="~{fragments/invitations-modal :: invitations-modal}"></th:block>

            </div>
        </div>

        <!-- Inserting javascript files -->
        <div th:replace="~{fragments/scripts :: scripts}"></div>
    </div>

</body>
</html>