<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Inserting head tag -->
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<!-- Inserting top navigation bar -->
<th:block th:insert="~{fragments/top-navbar :: top-navbar}"></th:block>
<div id="wrapper">
    <!-- Inserting side menu -->
    <th:block th:insert="~{fragments/home-side-menu :: home-side-menu}"></th:block>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th class="thead-light" colspan="4">Mano straipsniai</th>
                </tr>
                <tr>
                    <th>Pavadinimas</th>
                    <th>Sukūrimo data</th>
                    <th>Redagavimo data</th>
                    <th class="text-right">Veiksmai</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${page.getContent()}">
                    <td class="align-middle" th:text="${item.getTitle()}">Straipsnio pavadinimas</td>
                    <td th:text="${item.getCreationDate()}"></td>
                    <td th:text="${item.getEditDate()}">-</td>
                    <td class="text-right">
                        <a class="btn btn-outline-primary" th:href="@{/article-edit(articleId=${item.getId()})}">Redaguoti</a>
                        <i class="fa fa-exclamation-triangle"></i>
                        <i class="fa fa-trash"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Inserting javascript files -->
    <div th:replace="~{fragments/scripts :: scripts}"></div>
</div>

</body>
</html>